<div id="slider" class="box-section triggerAnimation animated fadeIn" data-animate="fadeIn">
	<div class="pow-section bs20">
		<h1>ABCO India Community Impact Album</h1>
	</div>

	<br/>
	<!-- Start slider -->
	<div class="flexslider">
		<ul class="slides">
			<li>
				<%= image_tag('ServiceWeek2014.jpg') %>
				<p class="flex-caption">Week of Service 2014!</p>
			</li>
			<li>
				<%=image_tag('1.jpg') %>
				<p class="flex-caption">Welcome to ABCO India Community Impact!</p>
			</li>
			<li>
				<%=image_tag('2.jpg') %>
				<p class="flex-caption">Welcome to ABCO India Community Impact!</p>
			</li>
			<li>
				<%=image_tag('3.jpg') %>
				<p class="flex-caption">Welcome to ABCO India Community Impact!</p>
			</li>
			<li>
				<%=image_tag('4.jpg') %>
				<p class="flex-caption">Welcome to ABCO India Community Impact!</p>
			</li>
			<li>
				<%=image_tag('5.jpg') %>
				<p class="flex-caption">Welcome to ABCO India Community Impact!</p>
			</li>
			<li>
				<%=image_tag('6.jpg') %>
				<p class="flex-caption">Welcome to ABCO India Community Impact!</p>
			</li>
			<li>
				<%=image_tag('7.jpg') %>
				<p class="flex-caption">Welcome to ABCO India Community Impact!</p>
			</li>
			<li>
				<%=image_tag('8.jpg') %>
				<p class="flex-caption">Welcome to ABCO India Community Impact!</p>
			</li>
			<li>
				<%=image_tag('9.jpg') %>
				<p class="flex-caption">Welcome to ABCO India Community Impact!</p>
			</li>
			<li>
				<%=image_tag('10.jpg') %>
				<p class="flex-caption">Welcome to ABCO India Community Impact!</p>
			</li>
			<li>
				<%=image_tag('11.jpg') %>
				<p class="flex-caption">Welcome to ABCO India Community Impact!</p>
			</li>
			<li>
				<%=image_tag('12.jpg') %>
				<p class="flex-caption">Welcome to ABCO India Community Impact!</p>
			</li>
			<li>
				<%=image_tag('13.jpg') %>
				<p class="flex-caption">Welcome to ABCO India Community Impact!</p>
			</li>
			<li>
				<%=image_tag('14.jpg') %>
				<p class="flex-caption">Welcome to ABCO India Community Impact!</p>
			</li>
			<li>
				<%=image_tag('15.jpg') %>
				<p class="flex-caption">Welcome to ABCO India Community Impact!</p>
			</li>
			<li>
				<%=image_tag('16.jpg') %>
				<p class="flex-caption">Welcome to ABCO India Community Impact!</p>
			</li>
			<li>
				<%=image_tag('17.jpg') %>
				<p class="flex-caption">Welcome to ABCO India Community Impact!</p>
			</li>
			<li>
				<%=image_tag('18.jpg') %>
				<p class="flex-caption">Welcome to ABCO India Community Impact!</p>
			</li>
			<li>
				<%=image_tag('19.jpg') %>
				<p class="flex-caption">Welcome to ABCO India Community Impact!</p>
			</li>
			<li>
				<%=image_tag('20.jpg') %>
				<p class="flex-caption">Welcome to ABCO India Community Impact!</p>
			</li>
			<li>
				<%=image_tag('21.jpg') %>
				<p class="flex-caption">Welcome to ABCO India Community Impact!</p>
			</li>
			<li>
				<%=image_tag('22.jpg') %>
				<p class="flex-caption">Welcome to ABCO India Community Impact!</p>
			</li>
			<li>
				<%=image_tag('23.jpg') %>
				<p class="flex-caption">Welcome to ABCO India Community Impact!</p>
			</li>
			<li>
				<%=image_tag('24.jpg') %>
				<p class="flex-caption">Welcome to ABCO India Community Impact!</p>
			</li>
			<li>
				<%=image_tag('25.jpg') %>
				<p class="flex-caption">Welcome to ABCO India Community Impact!</p>
			</li>
			<li>
				<%=image_tag('26.jpg') %>
				<p class="flex-caption">Welcome to ABCO India Community Impact!</p>
			</li>
			<li>
				<%=image_tag('27.jpg') %>
				<p class="flex-caption">Welcome to ABCO India Community Impact!</p>
			</li>
			<li>
				<%=image_tag('28.jpg') %>
				<p class="flex-caption">Welcome to ABCO India Community Impact!</p>
			</li>
		</ul>
    <ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="">2</a></li><li><a class="flex-active">3</a></li><li><a>4</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="##">Previous</a></li><li><a class="flex-next" href="##">Next</a></li></ul></div>
    <!-- End slider -->

    <br/><br/>
</div>